.hidden {
  display: none;
}

.popover {
  background: #007bff;
}

.popover.bottom .arrow:after {
    border-bottom-color: #007bff;
}

// Devise flash

.alert-notice {
  @extend .alert-success
}

.alert-alert {
  @extend .alert-danger
}

.hoverable {
  cursor: pointer;
}
