.hidden {
  display: none;
}

.popover {
  background: #007bff;
}

.popover.bottom .arrow:after {
    border-bottom-color: #007bff;
}

.hoverable {
  cursor: pointer;
}

.show-form .modal-body p {
  font-size: 18px;
}

// Devise flash

.alert-notice {
  @extend .alert-success
}

.alert-alert {
  @extend .alert-danger
}
